.noData {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 20px;
}
.icon {
	font-size: 70px;
    color: #ddd;
    margin-bottom: 20px;
}
.text {
	font-size: 18px;
	color: #ddd;
}